<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/stars.css" />

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>User Profile</h2>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div>
              <strong>Username:</strong> <%= currentUser.username %>
              <!-- prettier-ignore -->
              <% if (currentUser.roles.includes('admin')) { %>
              <strong>(admin)</strong>
              <% } %>
            </div>
            <a
              href="/profile/edit/username"
              class="btn btn-outline-primary btn-sm"
              >Change</a
            >
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div><strong>Email:</strong> <%= currentUser.email %></div>
            <a href="/profile/edit/email" class="btn btn-outline-primary btn-sm"
              >Change</a
            >
          </div>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div><strong>Password:</strong> ••••••••</div>
            <a
              href="/profile/edit/password"
              class="btn btn-outline-primary btn-sm"
              >Change</a
            >
          </div>
        </div>
        <div class="card-footer">
          <form
            action="/profile?_method=DELETE"
            method="POST"
            class="validated-form d-flex align-items-center justify-content-start"
            novalidate
          >
            <button type="submit" class="btn btn-danger me-3">
              Delete Profile
            </button>
            <div class="form-check d-inline-flex align-items-center">
              <input
                class="form-check-input me-2"
                type="checkbox"
                id="confirmDelete"
                name="confirmDelete"
                required
              />
              <label class="form-check-label" for="confirmDelete">
                Are you sure? This action cannot be reverted.
              </label>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card mb-4">
    <div class="card-header">
      <h3>Your Campgrounds</h3>
    </div>
    <div class="card-body">
      <% if (currentUser.campgrounds && currentUser.campgrounds.length > 0) { %>
      <% currentUser.campgrounds.forEach(campground => { %>
      <div class="card mb-3">
        <div class="row">
          <div class="col-md-4">
            <% if(campground.images.length) { %>
            <img
              crossorigin="anonymous"
              class="img-fluid"
              alt=""
              src="<%= campground.images[0].url %>"
            />
            <% } else { %>
            <img
              crossorigin="anonymous"
              class="img-fluid"
              src="https://res.cloudinary.com/dlm8y6xd6/image/upload/v1730994499/camping_default_mkky4k.jpg"
              alt=""
            />
            <% } %>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <a href="/campgrounds/<%= campground._id %>">
                <h5 class="card-title"><%= campground.title %></h5>
              </a>
              <p class="card-text"><%= campground.description %></p>
              <p class="card-text">
                <medium class="text-secondary"
                  ><%= campground.location %></medium
                >
              </p>
              <p class="card-text">
                <!-- prettier-ignore -->
                <small class="text-secondary"><i>You added this campground <%= campground.properties.createdAt %>.</i></small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <% }) } else { %>
      <p><i>You have not created any campgrounds yet.</i></p>
      <% } %>
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-header">
      <h3>Your Reviews</h3>
    </div>
    <div class="card-body">
      <!-- prettier-ignore -->
      <% if (currentUser.reviews && currentUser.reviews.length > 0) { %> 
      <% currentUser.reviews.forEach(review => { %>
      <div class="mb-3 border-bottom">
        <span>
          <h5 class="d-inline">
            <a
              class="d-inline"
              href="/campgrounds/<%= review.campground._id %>"
            >
              <%= review.campground.title %>
            </a>
          </h5>
          <!-- prettier-ignore -->
          <span class="card-text text-secondary"><i>- You added this review <%= review.properties.lastUpdated %>.</i></span>
        </span>
        <p class="starability-result mt-2" data-rating="<%= review.rating %>">
          Rated: <%= review.rating %> stars
        </p>
        <p><%= review.body %></p>
        <div class="review-buttons mb-3">
          <a
            class="d-inline card-link btn btn-sm btn-info"
            href="/campgrounds/<%= review.campground._id %>/reviews/<%= review._id %>/edit"
            >Edit</a
          >
          <form
            class="d-inline"
            action="/campgrounds/<%= review.campground._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
          >
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% }) } else { %>
      <p><i>You have not left any reviews yet.</i></p>
      <% } %>
    </div>
  </div>
</div>
